<app-chuck-norris></app-chuck-norris>
<app-public-key></app-public-key>
<div class="container">
  <mat-card class="w-100">
    <mat-card-content>
      <div class="card-header d-flex mb-3">
        <span>Check Password Against HaveIBeenPwned</span>
      </div>
      <div class="mt-3 d-flex flex-row">
        <mat-form-field class="w-100 m-2">
          <input matInput placeholder="Password" [(ngModel)]="checkPass">
        </mat-form-field>
        <button mat-stroked-button color="primary" class="ml-2" (click)="pwnedPass()">Check</button>
      </div>
      <div *ngIf="matchCount">
        The password entered {{matchCount}}
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100">
    <mat-card-content>
      <div class="card-header d-flex mb-3">
        <span>Passwords</span>
      </div>
      <div class="mt-3 d-flex flex-row">
        <span class="w-100 mr-2">Website</span>
        <span class="w-100 m-2">Username</span>
        <span class="w-100 m-2">Password</span>
        <span class="w-100 ml-2">Actions</span>
      </div>
      <div class="mt-1 d-flex flex-row" *ngFor="let pass of passService.unPasses; let i = index">
        <mat-form-field class="w-100 mr-2">
          <input matInput value="{{pass.website}}" readonly>
        </mat-form-field>
        <mat-form-field class="w-100 m-2">
          <input matInput value="{{pass.userName}}" readonly>
        </mat-form-field>
        <mat-form-field class="w-100 m-2">
          <input matInput value="{{pass.password}}" readonly>
        </mat-form-field>
        <span class="w-100 ml-2"></span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100">
    <mat-card-content>
      <div class="card-header d-flex mb-3">
        <span>Add Password <span *ngIf="!passService.encKey">(Encryption Key Must Be Set Above)</span></span>
      </div>
      <div class="mt-3 d-flex flex-row">
        <mat-form-field class="w-100 mr-2">
          <input matInput placeholder="Website" [(ngModel)]="pass.website" [disabled]="!passService.encKey">
        </mat-form-field>
        <mat-form-field class="w-100 m-2">
          <input matInput placeholder="Username" [(ngModel)]="pass.userName" [disabled]="!passService.encKey">
        </mat-form-field>
        <mat-form-field class="w-100 m-2">
          <input matInput placeholder="Password" [(ngModel)]="pass.password" [disabled]="!passService.encKey">
        </mat-form-field>
        <button mat-stroked-button color="primary" class="ml-2" (click)="addPass()" [disabled]="!passService.encKey">Add</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  
